{% if has_floating_button %}
<a href="{% url 'new_post' %}" class="floating-button">
    <span class="floating-button__icon"><i class="fas fa-plus"></i></span>
</a>
{% endif %}

<footer id="footer" class="footer">
    <div class="tabs tabs--3">
        <div class="tab{% if current|default:'home' == 'home' %} tab--active{% endif %}">
            <a href="{% url 'home' %}" class="tab__link">
                <span class="tab__icon"><i class="fas fa-home"></i></span>
                <span class="tab__label">home</span>
            </a>
        </div>
        <div class="tab{% if current == 'profile' %} tab--active{% endif %}">
            <a href="{% url 'profile' user.pk %}" class="tab__link">
                <span class="tab__icon"><i class="fas fa-user"></i></span>
                <span class="tab__label">profile</span>
            </a>
        </div>
        <div class="tab{% if current == 'search' %} tab--active{% endif %}">
            <a href="{% url 'search' %}" class="tab__link">
                <span class="tab__icon"><i class="fas fa-search"></i></span>
                <span class="tab__label">search</span>
            </a>
        </div>
    </div>
</footer>
