{% if has_floating_button %}
<a href="" class="floating-button">
    <span class="floating-button__icon"></span>
</a>
{% endif %}

<footer id="footer" class="footer">
    <div class="footer-tab{% if current|default:'home' == 'home' %} footer-tab--active{% endif %}">
        <a href="{% url 'index' %}" class="footer-tab__link">
            <span class="footer-tab__icon"><i class="fas fa-home"></i></span>
            <span class="footer-tab__label">home</span>
        </a>
    </div>
    <div class="footer-tab{% if current == 'profile' %} footer-tab--active{% endif %}">
        <a href="{% url 'profile' user.pk %}" class="footer-tab__link">
            <span class="footer-tab__icon"><i class="fas fa-user"></i></span>
            <span class="footer-tab__label">profile</span>
        </a>
    </div>
    <div class="footer-tab{% if current == 'search' %} footer-tab--active{% endif %}">
        <a href="" class="footer-tab__link">
            <span class="footer-tab__icon"><i class="fas fa-search"></i></span>
            <span class="footer-tab__label">search</span>
        </a>
    </div>
</footer>
