{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="post">
    <div class="post__image">
        <img src="{{ post.img.url }}">
        <div class="menu-button" role="button">
            <i class="fas fa-ellipsis-h"></i>
            <div class="action-menu">
                <ul class="action-list">
                    <li class="action-list__item">
                        {% if post.user == user %}
                        <a href="{% url 'delete_post' post.pk %}">削除</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post__actions">
        <div class="post__like">
            <a class="like{% if post in user.like.all %} like--active{% endif %}" data-pk="{{post.pk}}"><i class="fas fa-heart"></i></a>
        </div>
        <div class="post__user">
            <a href="{% url 'profile' post.user.pk %}" class="user">
                <img src="{{ post.user.icon_url }}">
                <span>{{ post.user.username }}</span>
            </a>
        </div>
    </div>
    <div class="post__body">
        {{ post.note }}
    </div>
    <div class="post__comments">
        <h3>コメント</h3>
        {% for comment in post.comments.all %}
        <div class="post__response">
            <div>
                <img src="{{ comment.user.icon_url }}" alt="ユーザーアイコン">
                <span>{{ comment.user.username }}</span>
            </div>
            <div>{{ comment.text }}</div>
            <div>{{ comment.post_date }}</div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}{% include "main/footer.html" with has_floating_button=True %}{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/action-menu.js' %}"></script>
<script src="{% static 'main/js/like-post.js' %}"></script>
{% endblock %}
