{% extends "main/base.html" %}
{% load static %}

{% block header %}
{{ block.super }}
<div class="header-tabs">
    <div class="tabs tabs--2">
        <div class="tab{% if 'post' not in request.GET %} tab--active{% endif %}">
            <a href="{% url 'search' %}?user" class="tab__link">
                <span class="tab__label">ユーザー</span>
            </a>
        </div>
        <div class="tab{% if 'post' in request.GET %} tab--active{% endif %}">
            <a href="{% url 'search' %}?post" class="tab__link">
                <span class="tab__label">投稿</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if 'post' in request.GET %}
<div>
    <form method="get">
        <input type="hidden" name="post" value="">
        {{form}}
    </form>
</div>
<ul class="post-list">
    {% for post in object_list %}
    <li class="post-list__item">
        <div class="post">
            <div class="post__image">
                <a href="{% url 'post_detail' post.pk %}">
                    <img src="{{ post.img.url }}">
                </a>
                <div class="menu-button" role="button">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="action-menu">
                        <ul class="action-list">
                            <li class="action-list__item">
                                {% if post.user == user %}
                                <a href="{% url 'delete_post' post.pk %}">削除</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post__actions">
                <div class="post__like">
                    <a class="like{% if post in user.like.all %} like--active{% endif %}" data-pk="{{post.pk}}"><i class="fas fa-heart"></i></a>
                </div>
                <div class="post__comment">
                    <a href="{% url 'comment' post.pk %}" class="comment"><i class="fas fa-comment"></i></a>
                </div>
                <div class="post__user">
                    <a href="{% url 'profile' post.user.pk %}" class="user">
                        <img src="{{ post.user.icon_url }}">
                        <span>{{ post.user.username }}</span>
                    </a>
                </div>
            </div>
            <div class="post__body">
                {{ post.note }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<div>
    <form method="get">
        <input type="hidden" name="user" value="">
        {{form}}
    </form>
</div>
<ul class="user-list">
    {% for user in object_list %}
    <li class="user-list__item">
        <a href="{% url 'profile' user.pk %}" class="user">
            <img src="{{ user.icon_url }}" alt="ユーザーアイコン">
            <span>{{ user.username }}</span>
        </a>
        {% if user.pk is not request.user.pk  %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="target" value="{{ user.pk }}">
            <button type="submit" name="{% if user.is_follow %}un{% endif %}follow" class="round-button round-button--narrow">フォロー{% if user.is_follow %}中{% endif %}</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% include "main/pagination.html" %}
{% endblock %}

{% block footer %}{% include "main/footer.html" with current="search" has_floating_button=True %}{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/like-post.js' %}"></script>
{% endblock %}
