{% extends "main/base.html" %}
{% load static %}

{% block header %}{% include "main/header.html" with title="profile" %}{% endblock %}

{% block content %}
<div class="profile">
    <div class="profile__row">
        <div class="profile__icon">
            <img src="{{ user.icon_url }}" alt="ユーザーアイコン">
        </div>
        <div class="profile-counter">
            <span class="profile-counter__count">{{ user.posts__count }}</span>
            <span class="profile-counter__label">投稿</span>
        </div>
        <a href="{% url 'follow_list' user.pk %}" class="profile-counter">
            <span class="profile-counter__count">{{ user.follow__count }}</span>
            <span class="profile-counter__label">フォロー</span>
        </a>
        <a href="{% url 'follow_list' user.pk %}?followed" class="profile-counter">
            <span class="profile-counter__count">{{ user.followed__count }}</span>
            <span class="profile-counter__label">フォロワー</span>
        </a>
    </div>
    <div class="profile__row">
        <div class="profile__username">{{ user.username }}</div>
        {% if user == request.user %}
        <div class="profile__setting">
            <a href="{% url 'settings' %}"><i class="fas fa-cog"></i></a>
        </div>
        {% else %}
        <form method="post" class="profile__setting">
            {% csrf_token %}
            <input type="hidden" name="target" value="{{ user.pk }}">
            <button type="submit" name="{% if user.is_follow %}un{% endif %}follow" class="round-button round-button--narrow">フォロー{% if user.is_follow %}中{% endif %}</button>
        </form>
        {% endif %}
    </div>
    <div>{{ user.profile|linebreaks }}</div>
</div>

<div class="post-tabs">
    <div class="tabs tabs--2">
        <div class="tab{% if 'likes' not in request.GET %} tab--active{% endif %}">
            <a href="{% url 'profile' user.pk %}?myposts" class="tab__link">
                <span class="tab__label">my post</span>
            </a>
        </div>
        <div class="tab{% if 'likes' in request.GET %} tab--active{% endif %}">
            <a href="{% url 'profile' user.pk %}?likes" class="tab__link">
                <span class="tab__label">like</span>
            </a>
        </div>
    </div>
</div>

{% if 'likes' not in request.GET %}
<ul class="post-grid">
    {% for post in user.posts.all %}
    <li class="post-grid__item">
        <a href="{% url 'post_detail' post.pk %}"><img src="{{ post.img.url }}"></a>
    </li>
    {% endfor %}
</ul>
{% else %}
<ul class="post-grid">
    {% for post in user.like.all %}
    <li class="post-grid__item">
        <a href="{% url 'post_detail' post.pk %}"><img src="{{ post.img.url }}"></a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block footer %}{% include "main/footer.html" with current="profile" has_floating_button=True %}{% endblock %}
