{% extends "main/base.html" %}
{% load static %}

{% block header %}{% include "main/header.html" with title="profile" %}{% endblock %}

{% block content %}
<div>
    <div>
        {% if user.icon %}
        <img src="{{ user.icon.url }}" alt="ユーザーアイコン">
        {% else %}
        <img src="/static/main/img/noimage.png" alt="ユーザーアイコン">
        {% endif %}
    </div>
    <div>{{ user.posts__count }}</div>
    <div><a href="{% url 'follow_list' user.pk %}">{{ user.follow__count }}</a></div>
    <div><a href="{% url 'follow_list' user.pk %}?followed">{{ user.followed__count }}</a></div>
</div>
<div>{{ user.username }}</div>
<div><a href="{% url 'settings' %}"><i class="fas fa-cog"></i></a></div>
<div>{{ user.profile }}</div>


<div class="post-tabs">
    <div class="tabs tabs--2">
        <div class="tab{% if 'likes' not in request.GET %} tab--active{% endif %}">
            <a href="{% url 'profile' user.pk %}?myposts" class="tab__link">
                <span class="tab__label">my post</span>
            </a>
        </div>
        <div class="tab{% if 'likes' in request.GET %} tab--active{% endif %}">
            <a href="{% url 'profile' user.pk %}?likes" class="tab__link">
                <span class="tab__label">like</span>
            </a>
        </div>
    </div>
</div>

{% if 'likes' not in request.GET %}
<div>
{% for my_post in user.posts.all %}
<a href="{% url 'post_detail' my_post.pk %}"><img src="{{ my_post.img.url }}"></a>
{% endfor %}
</div>
{% else %}
<div>
{% for liked_post in user.like.all %}
<a href="{% url 'post_detail' liked_post.pk %}"><img src="{{ liked_post.img.url }}"></a>
{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block footer %}{% include "main/footer.html" with current="profile" %}{% endblock %}

{% block extra_js %}
{% endblock %}
