:root {
    --black: #293845;
    --darkgray: #4b5c6b;
    --gray: #798997;
    --lightgray: #c3cfd9;
    --white: #fff;
    --indigo: #6558f5;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    font-size: 1.5em;
    color: var(--black);
    background-color: var(--lightgray);
    border-top: 2px solid var(--gray);
    border-bottom: 2px solid var(--gray);
    z-index: 1;
}

.header__title {
    line-height: 60px;
    text-align: center;
}

.footer {
    position: fixed;
    display: flex;
    flex: 1 0 0;
    width: 100%;
    height: 64px;
    bottom: 0;
    background-color: var(--white);
    z-index: 1;
}

.footer-tab {
    width: calc(100% / 3);
    text-align: center;
}

.footer-tab--active {
    border-bottom: 2px solid var(--indigo);
}

.footer-tab__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-tab__icon {
    font-size: 1.5rem;
    color: var(--darkgray);
}

.footer-tab__label {
    color: var(--black);
}

.footer-tab--active :is(.footer-tab__icon, .footer-tab__label) {
    color: var(--indigo);
}

#content {
    max-width: 1000px;
    margin: auto;
}

#header ~ #content {
    padding: 64px 0;
}

.round-button {
    border: 2px solid var(--lightgray);
    border-radius: 4rem;
    font-size: 1rem;
    line-height: 4;
    color: var(--black);
    background-color: var(--white);
}

.form {
    margin: 0 64px;
}

.form-field {
    width: 100%;
    margin: 32px 0;
}

.form-field--image {
    position: relative;
}

.form-field--image input {
    position: absolute;
    opacity: 0;
}

.form-field--image label img {
    display: block;
    width: 100%;
}

.form-field :is(input, textarea) {
    width: 100%;
}

.form-field textarea {
    resize: none;
}

.form-field--submit [type="submit"] {
    width: 100%;
}
